
<config>
  <shared>
    <service>
      <entry name="my-service">
        <protocol>
          <tcp>
            <port>1000-34000</port>
            <source-port>89</source-port>
          </tcp>
        </protocol>
      </entry>
    </service>
  </shared>
</config>

