{% if udp_dst is not none and tcp_dst is not none %}
      <entry name={{ service_name }}>
        <members>
            <member>{{ service_name|replace('"', "") }}_tcp</member>
            <member>{{ service_name|replace('"', "") }}_udp</member>
        </members>
      </entry>
{% endif %}          
