{% if members |reject('eq', '') | list | length > 0 %}
      <entry name={{ service_name }}>
        <members>
        {% for member in members %}
            <member>{{ member }}</member>
        {% endfor %}    
        </members>
      </entry>
{% endif %}          
