        <entry name="{{ name }}">
          <list>
          {% for member in members %}
            <member>{{ member }}</member>
          {% endfor %}
          </list>
          <type>URL List</type>
        </entry>

